body{
    color: #222;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.texturas {
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    user-select: none;
}

.texturas div:active{
    opacity: 0.55;
}

.texturas div {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 6px;
    user-select: all;
}


.textura1{
    background: url("textura1.JFIF") ;
}

.textura2{
    background: url("textura2.JFIF");
}

.textura3{
    background: url("textura3.JFIF");
}

.zona {
    outline: 1px solid #333;
    margin: 10px;
    background: #ddd;
    height: 200px;
}